.root {
/*
    -fx-background-color: #1d1d1d;
    */
    -fx-background-image: url('bg.jpg');
}

.goldRoot {
    /*
    -fx-background-color: #4b4a08;
    */
    -fx-background-image: url('goldbg.jpg');
}

.label {
    -fx-text-fill: #FFF;
    -fx-label-padding: 8px;
    -fx-font-size: 15px;
}